/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*Universal Styles*/

.container {
	width: 880px;
	margin: 0 auto;
}

@media (max-width: 880px) {
    .container {
        max-width: 100%;
        
    }
}


nav {
	width: 880px;
	padding: 15px 0px;
	position: fixed;
	background-color: #04A3FF;
	border-radius: 10px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
    align-items: baseline;
    
}

@media (max-width: 880px) {
    nav {
        max-width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }

    .links {
        
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    }


}

@media (max-width: 500px) {
    nav {
        padding: 0;
        border-radius: 0;
        position: static;
    }

    .nav-img {
        padding: 18px 0;
        border-bottom: black solid 1px;
        width: 100%;
        text-align: center;
    }
    .links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        
    }

    .links a {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-bottom: black solid 1px;
        font-size: 20px;
    }
}


nav a {
    width: 10%;
	text-decoration: none;
    color: gray;
    margin-right: 25px;
}

@media (max-width: 880px) {
    nav a {
        margin-right: 2%;
        
    }
}

nav a:hover {
	text-decoration: underline;
}

nav img {
	width: 190px;
}

header {
	width: 100%;
	padding-top: 70px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
	padding-bottom: 70px;
	display: flex;
	align-items: center;
}

@media (max-width: 880px) {
    header {
        justify-content: center;
        border-bottom: black solid 2px;
        align-items: flex-end;
        padding-top: 175px;
    }
}

@media (max-width: 500px) {
    header {
        padding-top: 50px;
    }
}

.header-title {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 400px;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	align-items: center;
}

@media (max-width: 880px) {
    .header-title {
      margin-left: 0;
      
    }
}

h1 {
	font-size: 80px;
}

.button {
	text-align: center;
	width: 170px;
	font-size:16px;
	padding: 10px 0px;
	background-color: white;
	border: 1px solid black;
}

.button:hover {
	background-color: #04A3FF;
	transition: background-color .25s linear .2s;
}

header img {
	margin-left: 30px;
	margin-top: 60px;
}

@media (max-width: 880px) {
    header img {
        display: none;
    }
}


.top-content {
	width: 100%;
	display: flex;
	padding-bottom: 50px;
	justify-content: space-between;
}

@media (max-width: 500px) {
    .top-content {
        flex-wrap: wrap;
    }
 
}



.top-content-area{
	width: 45%;
	margin: 10px;
	padding-top: 25px;
	padding-left: 10px;
}

@media (max-width: 500px) {
    .top-content-area{
        width: 90%;
    }
}



.top-content-area:first-child{
	padding-left: 0px;
}

@media (max-width: 880px) {
    .top-content-area:first-child {
        padding-left: 10px;
    }
}

p {
	font-family: 'Mandali', sans-serif;
}


img.middle-img {
	position: relative;
	bottom: 10px;
	left: 10px;
}

@media (max-width: 880px) {
    img.middle-img{
    max-width: 92%;
    margin: 0 auto;
    padding-left: 5%;
    }
}

.bottom-content {
	margin-top: 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 500px) {
    .bottom-content {
        flex-wrap: wrap;
    }
 
}

.bottom-content-area{
	width: 30%;
	margin: 10px;
	padding-left: 10px;	
}

@media (max-width: 500px) {
    .bottom-content-area{
        width: 90%;
    }
}

.bottom-content-area:first-child{
	padding-left: 0px;
}

@media (max-width: 500px) {
    .bottom-content-area:first-child{
        padding-left: 10px;
    }
}

.contact {
	padding-top: 35px;
	padding-left: 10px;
}

footer {
	margin-top: 32px 0px;
	text-align: center;
	font-size: 14px;
}

